* {
    margin: 0;
    padding: 0;
}


.header {
    background-color: rgb(92, 233, 233);
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.footer {
    background-color: rgb(29, 150, 150);
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.menus {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    background-color: rgb(29, 150, 150);
    color: white;
    font-weight: bold;
    gap: 2px;
}

.menus p {
    padding: 10px;
    border-right: 2px solid rgb(24, 92, 92);
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main p {
    height: 100px;
    padding: 10px;
}

.main :first-child {
    background-color: rgb(150, 146, 146);
}

.main :nth-child(2) {
    background-color: rgb(187, 182, 182);
}

.main :last-child {
    background-color: rgb(216, 214, 214);
    grid-column: 1 / span 3;

}

/* Media Query for larger screens */
@media screen and (min-width: 600px) {
    .main {
        grid-template-columns: repeat(3, 1fr);

    }

    .main :last-child {
        grid-column: auto;
    }
}