#container {
    position: relative;
    width: 800px;
    height: 100vh;
    margin: 10px auto;
    background-color: rgb(240, 237, 237);
}

#header {
    background-image: url("./assets/background.avif");
    height: 200px;
    position: relative;
}

#header img {
    border-radius: 50%;
    position: absolute;
    height: 150px;
    bottom: 0;
    left: 30px;
    transform: translateY(20%)
}

#body {
    padding-top: 50px;
}

#body .name {
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}


#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(226, 224, 224);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#footer p {
    margin: 0
}

#footer :first-child p {
    font-weight: bold;
}